default: &default
  adapter: mysql2
  encoding: utf8
  database: cosmetic
  username: <%= ENV["mysql_name"] %>
  password: <%= ENV["mysql_password"] %>
  host: 127.0.0.1
  port: 3306

development:
  <<: *default
test:
  <<: *default

production:
  <<: *default
